@import "tailwindcss";

@theme {
  --font-headline: var(--font-manrope);
  --font-body: var(--font-inter);
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
