@import "tailwindcss";

@theme {
  --font-body: var(--font-roboto);
  --font-headline: var(--font-roboto);
}

@layer base {
  :root {
    --background: #f8fafc;
    --on-background: #0f172a;
    --primary: #10b981;
    --on-primary: #ffffff;
  }

  body {
    @apply font-body bg-[#f8f9fa];
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-headline;
  }
}

/* Custom styles for animations or specific components if needed */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}